<% include ../partials/header %>
<div class="row">
    <h1 style="text-align: center">Mettre à jour l'annonce : « <%= annonce.name %> »</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/annonces/<%=annonce._id%>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="name">Titre de l'annonce</label>
                <input class="form-control" type="text" name="name" id="name" value="<%= annonce.name %>">
            </div>
            <div class="form-group">
                <label for="image">Url de l'image</label>
                <input class="form-control" type="text" name="image" id="image" value="<%= annonce.image %>">
            </div>
            <div class="form-group">
                <label for="cost">Prix par personne</label>
                <input class="form-control" type="number" name="cost" id="cost" value="<%= annonce.cost %>" step="0.01" min="0" required>
            </div>
            <div class="form-group">
                <label for="location">Adresse</label>
                <input class="form-control" type="text" name="location" id="location" value="<%= annonce.location %>">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" type="text" name="description" id="description" value="<%= annonce.description %>">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Mettre à jour !</button>
            </div>
        </form>
        <a href="/annonces">Revenir à accueil</a>
    </div>
</div>
<% include ../partials/footer %>

